.table {
  display: flex;
  font-size: 2.5rem;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.table table {
  align-items: center;
  border: 5px red solid;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  width: 100%;
}

.table table thead tr {
  align-items: center;
  display: flex;
  justify-content: center;
  
}

.table table tbody {
  display: flex;
}

.table table tbody tr {
  display: inline-block;
}